@model IEnumerable<RoomChecker.Models.Room>

@{
    ViewData["Title"] = "Rooms at " + DateTime.Now.ToShortDateString() + " on " + DateTime.Now.ToShortTimeString();
}

<link rel="stylesheet" href="~/css/roomcheckerstyle1.css" />

@if (!User.Identity.IsAuthenticated)
{
    <p>@(ViewBag.Message)</p>
    <button type="button" class="btn btn-primary" onclick="javascript:window.location='/Account/SignIn'">Sign In</button>
}
else
{
    <H1 id="timeTitle"></H1>

    <button type="button" class="btn btn-primary" onclick="javascript: SetStatus()">Check Now</button>
    <p></p>
    <input type="datetime-local" name="checkTime" id="checkTime">
    <button type="button" class="btn btn-primary" onclick="javascript: SetStatusOnDate()">Check Date</button>
    <p></p>
}

<p></p>

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Rooms</legend>
        @foreach (var item in Model)
        {
            <div class="gallery" id="item_@(item.Name)">
                <div id="occupied_@(item.Name)" class="label label-default" style="visibility:hidden">&nbsp;</div>
                <div class="roomName">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="capacity">@Html.DisplayFor(modelItem => item.Capacity)p @Html.DisplayFor(modelItem => item.AudioVideo)</div>
                <div class="desc">
                    <div class="status" id="status_@(item.Name)">Checking...</div>
                    <div class="planning" id="planning_@(item.Name)">&nbsp;</div>
                </div>
                <div id="scheduleLine">
                    <table border="1" align="center">
                        <tr>
                            @for (int i = 8; i < 19; i++)
                            {
                                <td class="unknown" title="@i - @i+1" id="@(item.Name)-h-@i">
                                    &nbsp;
                                </td>
                            }

                        </tr>
                        <tr>
                            @for (int i = 8; i < 19; i++)
                            {
                                <td style="font-size:6px; text-align:center">
                                    @i
                                </td>
                            }
                        </tr>
                    </table>
                </div>
                <span id="label_@(item.Name)" class="label label-default">@(item.Type) </span>
            </div>
        }
    </fieldset>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    var rooms = [];
    @foreach (var d in Model)
    {
        @: rooms.push("@d.Name");
    }
    var roomType = 'meet';
    var _tenantId = '@ViewBag.Tenant';
</script>

<script src="~/js/RoomChecker.js">
</script>
